:root{
    box-sizing: border-box;
    background: url("https://cdn.pixabay.com/photo/2017/12/11/20/06/spanner-3013135_960_720.jpg") center center fixed no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    
}
*{
    box-sizing: inherit;
}
.navbar{
    padding: 5px;
    margin: 0;
    height: 50px;
    width: 100%;
    background-color: black;
    display: flex;
    border-radius: 20px;
    position: sticky;
    top: 0px;
    box-shadow: 0px 7px 5px rgba(255, 255, 255, 0.781);
}
.head{
    width: 20%;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.head h1 {
    color: white;
    margin: 0%;
    text-shadow: 5px 5px 3.5px white;
}
.nav{
    float: left;
    width: 80%;
    margin: auto;
}
.lista {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0%;
}

h1:hover{
    color: red;
    text-shadow:5px 5px 3.5px brown;
}

.nav li{
    border: 1px solid white;
    width: 15%;
    text-align: center;
    text-transform: uppercase;
    list-style-type: none;
    overflow: hidden;
    border-radius: 10px;
}
.nav a, .goup a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}
.nav a:hover, .goup a:hover{
    color: red;
}
.nav li:hover, .goup a:hover{
    background-color: rgba(255, 255, 255, 0.521);
    border: 1px dotted red;
}
.introduction{
    height: auto;
    margin: 30px auto auto;
    border: 3px solid white;
    border-radius: 10px;
    padding: 5px;
    background-color: black;
}
.heather, .img{
    width: 50%;
    float: left;
    color: white;
    height: 100%;
}
.clearfix{
    display: block;
    content: "";
    clear: both;
    height: 0%;
}
.heather p {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    margin: 10px auto ;
}
.img{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.heather-names {
    color: white;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    border: 3px solid white;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
    width: 60vw;
    margin: 30px auto;
    overflow: hidden;
}
.mazda1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px auto ;
}
.mazda1 img {
    border: 3px solid white;
    border-radius: 10px;
    margin: 10px;
}
.description {
    color: white;
    background-color: black;
    border: 3px solid white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}
img:hover:not(.img img){
    transform: scale(1.6);
    transition: all 2s;
}
.video{
    width: 50%;
    float: left;
}
  
.name-video{
    color: white;
    text-transform: uppercase;
    text-align: center;
}
video{
    margin: auto;
    width: 100%;
    height: 300px;
}
.foot{
    color: white;
    font-size: 0.7rem;
    text-align: center;
    box-shadow: 0px -7px 5px rgba(255, 255, 255, 0.781);
}
.goup {
    text-align: center;
    margin: 30px auto;
    
}

